div.all{    
    background-color: whitesmoke;
    height: 45px;
    width: auto;
    padding-left: 3px;
    padding-top: 5px;
    border: none;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}

div.logo{
    height: 34px;
    width: 140px;
    border: none;
    margin-left: 190px;
    margin-top: 1px;
    padding-left: 4px;
    padding-top: 4px;
}

div.dropb{
    height: 26px;
    width: 26px;
    padding-left: 3px;
    padding-top: 3px;
    border: none;
    margin-left: 7px;
    margin-top: -35px;
}


.dropbtn {
    background-color: whitesmoke;
    color: whitesmoke;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor:pointer;
    margin-left: 3px;
    margin-top: -40px;
    
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: white}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: whitesmoke;
}

div.windows{
    height: 34px;
    width: 124px;
    border: none;
    margin-left: 460px;
    margin-top: -59px;
    padding-left: 4px;
    padding-top: 4px;
}

div.xbox{  
    height: 34px;
    width: 124px;
    border: none;
    margin-left: 690px;
    margin-top: -34px;
    padding-left: 4px;
    padding-top: 4px;
}

div.office{
    height: 34px;
    width: 124px;
    border: none;
    margin-left: 900px;
    margin-top: -38px;
    padding-left: 4px;
    padding-top: 4px;
    
}

div.ofertas{
    height: 34px;
    width: 204px;
    border: none;
    margin-left: 1100px;
    margin-top: -37px;
    padding-left: 4px;
    padding-top: 4px;
}

a{
    color: black;
    text-decoration: none;
}


a:hover {
    color: #424242;
	text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: blue;
     text-decoration: none;
}


div.texto{
    height: 2300px;
    width: auto;
    margin-top: -20px;
    margin-left: -8px;
    margin-right: -8px;
    border: none;
    background-color: ghostwhite;
    filter: blur(15px);
}

div.scroll{
    height: auto;
    width: auto;
    margin-top: 660px;
    margin-left: 30px;
    border: none;
}

div.texto1{
    height: 950px;
    width: 1300px;
    margin-top: -2300px;
    margin-left: 8px;
    margin-right: 8px;
    border: none; 
    padding: 5px;
    position: absolute;
}

div.textoa{
    height: 200px;
    width: 800px;
    margin-top: -10px;
    margin-left: 250px;
    border: none; 
    padding: 5px;
}

div.imga{
    height: 400px;
    width: 1200px;
    margin-top: 10px;
    margin-left: 50px;
    border: none; 
    padding: 5px;
}

div.textob{
    height: 200px;
    width: 500px;
    margin-top: 5px;
    margin-left: 50px;
    border: none; 
    padding: 5px;
}

div.imgb{
    height: 350px;
    width: 650px;
    margin-top: -270px;
    margin-left: 600px;
    border: none; 
    padding: 5px;
}

div.textoc{
    height: 70px;
    width: 700px;
    margin-top: 5px;
    margin-left: 320px;
    border: none; 
    padding: 5px;
    position: absolute;
}
div.imgc{
    height: 400px;
    width: 1200px;
    margin-top: 20px;
    margin-left: 50px;
    border: none; 
    padding: 5px;
}

div.top{
    height: 40px;
    width: 20px;
    margin-top: -150px;
    margin-left: 1150px;
    border: none; 
    padding: 5px;
}

