div.all{    
    background-color: whitesmoke;
    height: 45px;
    width: auto;
    padding-left: 3px;
    padding-top: 5px;
    border: none;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}

div.logo{
    height: 34px;
    width: 140px;
    border: none;
    margin-left: 190px;
    margin-top: 1px;
    padding-left: 4px;
    padding-top: 4px;
}

div.dropb{
    height: 26px;
    width: 26px;
    padding-left: 3px;
    padding-top: 3px;
    border: none;
    margin-left: 7px;
    margin-top: -35px;
}


.dropbtn {
    background-color: whitesmoke;
    color: whitesmoke;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor:pointer;
    margin-left: 3px;
    margin-top: -40px;
    
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: white}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: whitesmoke;
}

div.windows{
    height: 34px;
    width: 124px;
    border: none;
    margin-left: 460px;
    margin-top: -55px;
    padding-left: 4px;
    padding-top: 4px;
}

div.xbox{  
    height: 34px;
    width: 124px;
    border: 1px now;
    margin-left: 690px;
    margin-top: -38px;
    padding-left: 4px;
    padding-top: 4px;
}

div.office{
    height: 34px;
    width: 124px;
    border: none;
    margin-left: 900px;
    margin-top: -38px;
    padding-left: 4px;
    padding-top: 4px;
    
}

div.ofertas{
    height: 34px;
    width: 204px;
    border: none;
    margin-left: 1100px;
    margin-top: -37px;
    padding-left: 4px;
    padding-top: 4px;
}

a{
    color: black;
    text-decoration: none;
}


a:hover {
    color: #424242;
	text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: blue;
     text-decoration: none;
}

div.anos{
    height: 100px;
    width: 1000px;
    margin-top: 300px;
    margin-left: 220px;
    border: none; 
    font-family: 'Orbitron', sans-serif;
    
}

div.imgbalao1{
    height: 100px;
    width: 100px;
    margin-top: -330px;
    margin-left: 900px;
    border: none; 
}


